.table thead tr,
.table tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.063);
}

.table-caption {
  font-weight: bold;
  text-align: left;
  margin: 1em;
  margin-left: 0;
  font-size: 1.5em;
}

.table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  margin: 1em;
  border-radius: 5px;
}

.table :where(th, td) {
  padding: 1rem;
  text-align: left;
  border-top: 1px solid #dee2e6;
}

.tableSection {
  box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.186);
  border-radius: 5px;
  max-width: 40%;
  margin: 2em;
  padding-bottom: 1em;
}

.spinner {
  display: grid;
  place-self: center;
  min-height: 80vh;
}
.spin {
  width: 65px;
  height: 65px;
  place-self: center;
  border: 5px solid #bdbdbd;
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: rotate 2s infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.tradersBottom {
  margin: 1em;
}
.tradersBottom #updatedTime {
  margin: 1em;
  font-weight: 600;
}
